@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 14%;
    --foreground: 0 0% 98%;
    --card: 0 0% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 22%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 348 83% 47%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 262 83% 58%;
    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  /* Classes utilitárias do seu projeto que não usam gradientes */
  .pagina-principal {
    @apply w-full flex-1 flex flex-col;
  }

  .pagina-conteudo {
    @apply flex-1 p-4;
  }

  .barra-navegacao {
    @apply bg-background p-1 w-full flex items-center justify-between;
  }

  .conteiner-navegacao {
    @apply flex items-center gap-4 mr-4;
  }

  .icones-minha-conta {
    @apply h-[1.2rem] w-[1.2rem] mr-2;
  }
}